<!-- items -->
<div class="item-section-container">
  <h3>Item</h3>
  <div class="comment-section-text">
    <p><%= @item.name %></p>
    <p><%= @item.description %></p>
  </div>
  <div class="comment-section-author">
    <div class="item-user-avatar", style="max-width: 65px">
      <%= image_tag(@item.user.avatar) %>
    </div>
    <div class="comment-section-name">
      <h5><%= @item.user.username %></h5>
      <p><%= @item.updated_at %></p>
    
    </div>
  </div>
</div>
<!--/items-->

<div>
  <%= render "layouts/reviews" %>
</div>
